@mixin desktopBig {
    @media (min-width: #{900px}){
        @content;
    }
}

.info-con {
    padding: 20px;
    div {
        color: $white;
    }
    .loc-con {
        font-size: 45px;
        padding-bottom: 5px;
        @include desktopBig {
            font-size: 50px;
        }
    }
    .title-con {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 30px;
        border-bottom: 5px solid $main-color;
        padding-bottom: 10px;
        @include desktopBig {
            font-size: 35px;
        }
    }
    .fatal-con {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 40px;
        border-bottom: 5px solid $main-color;
        padding: 15px 0px;
        h2 {
            span {
                color: $main-color;
                font-size: 45px;
            }
        }
        @include desktopBig {
            font-size: 45px;
            h2 {
                span {
                    font-size: 50px;
                }
            }
        }
    }
    .sum-con {
        font-size: 25px;
        padding-top: 10px;
        line-height: 30px;
        @include desktopBig {
            font-size:30px;
            line-height: 35px;
        }
    }
}